<div class="container">
 <h2> Elérhetőségeink</h2>
 <div class="data-container">
<div>Cím: Narnia</div>
<div>Telefonszám: 06 30 1234567</div>
<div>E-mail: pizzajo@gmail.com</div>
</div>

<table>
    <tr>
      <th>Nyitvatartás</th>
     </tr>
    <tr>
        <td>Hétfő: 7AM-8PM</td>
    </tr>
    <tr>
        <td>Kedd: 7AM-8PM</td>
    </tr>
    <tr>
        <td>Szerda: 7AM-8PM</td>
    </tr>
    <tr>
        <td>Csütörtök: 7AM-8PM</td>
    </tr>
    <tr>
        <td>Péntek: 7AM-8PM</td>
    </tr>
    <tr>
        <td>Szombat: 7AM-8PM</td>
    </tr>
    <tr>
        <td>Vasárnap: 7AM-8PM</td>
    </tr>
</table>
</div>