.header {
    background-color: #ffb80e;
    background-image: url("../../../assets/pizza-header.jpg");
    text-align: center;
    width: 100vw;
    height: 13vw;
    overflow: hidden;
    margin:0px;
    padding: 0px;
    position: relative;
  }
 
  .example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar{
   background-color: 	#982121; 
  }