@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&display=swap');
.header {
    background-color: #ffb80e;
    background-image: url("../../../assets/pizza-header.jpg");
    text-align: center;
    width: 100vw;
    height: 13vw;
    overflow: hidden;
    margin:0px;
    padding: 0px;
    position: relative;
  }
 
  .example-spacer {
    flex: 1 1 auto;
  }

  button{
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    transition-duration: 0.4s;
  }

  ::ng-deep .custom-dialog > mat-dialog-container {
    background-color: #813531;
  }

  button:hover {
    background-color: #f44336;
    color: white;
  }
  p{
    margin: 0;
  }
  h1{
    text-align:center;
    vertical-align: bottom;
    font-size: 100px;
    padding: 40px;
    text-shadow: 3px 3px 5px rgb(233, 90, 7);
    font-family: 'Times New Roman', Times, serif;
    color: darkred;
  }

  mat-toolbar{
 
    background-color: #552220;
    color: blanchedalmond;
    margin: 0;
    border: blanchedalmond 3px solid;
  }