@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.container{
    text-align: center;
    color: blanchedalmond;
    background-color: #552220;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: blanchedalmond 5px solid;
    border-radius: 10%;
}
.title{
    font-size: 25px;
    margin: 5px;
    padding: 15px;
}

.quant{
    margin: 5px;
    padding: 15px;
}

.quant span{
    font-family: sans-serif,cursive;
    font-size: 25px;
    color: rgb(245, 241, 24);
    font-family: 'Anton', sans-serif;
}

.price{
    padding: 15px;
}
.price span{
    font-size: 25px;
    color: rgb(245, 241, 24);
    font-family: 'Anton', sans-serif;
}