<div class="container" >
    <span>Add meg az adataidat!</span>
  <div class="inline-container" >
        <input matInput placeholder="Vezetéknév" [(ngModel)]="firstname" >
        <input matInput placeholder="Keresztnév" [(ngModel)]="surname" >
    </div>
    <div class="inline-container" >
        <input matInput placeholder="Telefonszám" type="text"  [(ngModel)]="phonenumber" >
        <input matInput placeholder="Email" [(ngModel)]="email" >
    </div>
    <div class="inline-container">
        <input matInput placeholder="Irányítószám" type="number"  [(ngModel)]="zipcode" >
        <input matInput placeholder="Város"[(ngModel)]="city" >
    </div>
    <div class="inline-container">
        <Input matInput placeholder="Utca" type="text" [(ngModel)]="street" >
        <input matInput placeholder="Házszám" type="number"  [(ngModel)]="housenumber" >
    </div>

    <div class="inline-container">
        <textarea matInput placeholder="Megjegyzés..." rows="5"  [(ngModel)]="note" ></textarea>
    </div>
    <div class="inline-container">
        <mat-radio-group [(ngModel)]="paymentmode">
            <mat-radio-button value="1" [checked]="true">készpénz</mat-radio-button>
            <mat-radio-button value="2">kártya</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="inline-container">
       <button mat-button (click)="goback()" >Vissza</button>
       <button mat-button (click)="order()" >Rendelés leadása</button>
    </div>
   
</div>
